/* body {
     color:red !important;
     background:yellow !important;
} */

     
.mw-highlight .k,
.mw-highlight .kd,
.mw-highlight .kn,
.mw-highlight .kt,
.mw-highlight .nn,
.mw-highlight .nt,
.mw-highlight .cp {
	color:blue !important;
	font-style:normal !important;
	font-weight:normal !important;
}

.mw-highlight .cpf,
.mw-highlight .sa,
.mw-highlight .sc,
.mw-highlight .se,
.mw-highlight .s {
	color:maroon !important;
	font-style:normal !important;
	font-weight:normal !important;
}

.mw-highlight .cm,
.mw-highlight .c1 {
	color:green !important;
	font-style:normal !important;
}

.mw-highlight .o,
.mw-highlight .nf,
.mw-highlight .nl,
.mw-highlight .na,
.mw-highlight .nb,
.mw-highlight .nc,
.mw-highlight .nn {
	color:black !important;
	font-weight:normal !important;
}

.mw-highlight .mi,
.mw-highlight .mf {
	color:red !important;
}
